.button
  padding: 13px 20px
  border: none
  border-radius: 3px
  text-transform: uppercase
  cursor: pointer
  &__up
    font-size: 30px
    width: 50px
    height: 50px
    position: fixed
    left: 20px
    bottom: 50px
    background: #fff url('../img/up-arrow-i.png') no-repeat center / cover
    z-index: 99
  &--red
    background-color: $red
    color: $light
    font-weight: 700
    &:hover
      background: $light
      color: $red
      font-weight: 700
      box-shadow: 0 0 25px $red
      transition-property: all
      transition-duration: 0.2s
      transition-timing-function: ease
      transition-delay: 0.1s
  &--hero
    border: 5px solid $light
    font-weight: 600
    padding: 13px 60px
    display: flex
    margin: auto
    background: transparent
    color: $light
    &:hover
      background: $light
      color: $dark
      font-weight: 700
      box-shadow: 0 0 15px $light;
      transition-property: all
      transition-duration: 0.2s
      transition-timing-function: ease
      transition-delay: 0.1s



    