.button
  padding: 13px 20px
  border: none
  border-radius: 3px
  text-transform: uppercase
  cursor: pointer
  &--red
    background-color: $red
    color: $light
    font-weight: 700
  &--hero
    border: 5px solid $light
    font-weight: 600
    padding: 13px 60px
    display: flex
    margin: auto
    background: transparent
    color: $light

    