.footer
  height: 100%
  width: 100%
  background-color: #555
  &__contant
    display: flex
    align-items: center
    flex-wrap: wrap
    padding-top: 50px
    justify-content: space-around
.info
  color: #999
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  margin: 0
  &__text
    padding-top: 20px
    &--title
      margin: 0
.fa
  text-align: center;
  width: 48px;
  height: 48px;
  float: left;
  background: transparent
  border: 1px solid #FFF
  box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1)
  border-radius: 24px
  margin: 0 10px 10px 0
  padding: 6px
  color: #FFF
  &:hover
    background-color: $red
    border: 1px solid $red